= f.error_messages
%p
  = f.label :name
  %br
  = f.text_field :name
%p
  = f.label :url, "URL"
  %br
  = f.text_field :url
  
%p
  %label Admins with access
  %ul
  - @all_admins.each do |admin|
    %li
      = check_box_tag "website[admin_ids][]", admin.id, @website.admins.include?(admin)
      = label_tag "website[admin_ids][]", admin.name
      