= render :partial => "/shared/header", :locals => { :title => "Websites", :subtitle => "", :flash => flash }

%p Websites have clients that connect to the karma server.

#content
  - if ! @websites.empty?
    %table
      - @websites.each do |website| 
        %tr
          %td.name= link_to website.name, website
          %td
            = link_to "#{image_tag 'edit.png'} Edit", edit_website_path(website), :class => "button"
            = link_to "#{image_tag 'delete.png'} Destroy", website, :confirm => "Are you sure?", :method => :delete, :title => "Destroy #{website.name} website", :class => "button"

  - else
    = link_to "There are no websites, click here to create the first one.", new_website_path
  .button_row
    = link_to "#{image_tag 'add.png'} Create Website", new_website_path, :class => "positive button"
    = link_to "Admin Permissions"   , administrators_websites_path, :class => "button"
    = link_to "Client Permissions"  , clients_websites_path       , :class => "button"