= render :partial => "/shared/header", :locals => { :title => @user.permalink, :subtitle => "", :flash => flash }

#content
  %h3 Karma
  %table
    - @buckets.each do |bucket|
      %tr{:id => bucket.permalink}
        %th= link_to bucket.permalink, adjustments_path(@user, bucket)
        %td= @user.karma_for(bucket)
    %tr#total
      %th Total:
      %td= @user.karma
    
.button_row
  = link_to "Adjust Karma", new_user_adjustment_path(@user), :class => "button"