= render :partial => "/shared/header", :locals => { :title => "Viewing User", :subtitle => h(@user.permalink), :flash => flash }

#content
  %h3 Karma
  %table
    - @tags.each do |tag|
      %tr{:id => tag.permalink}
        %th= link_to tag.permalink, adjustments_path(@user, tag)
        %td= @user.karma_for(tag)
    %tr#total
      %th Total:
      %td= @user.karma
    
.button_row
  = link_to "Adjust Karma", new_user_adjustment_path(@user), :class => "button"