= render :partial => "/shared/header", :locals => { :title => @user.permalink, :subtitle => "", :flash => flash }

#content
  %h3 Buckets
  %table
    - @buckets.each do |bucket|
      %tr
        %th= link_to bucket.permalink, adjustments_path(@user, bucket)
        %td= @user.karma_for(bucket)
    %tr
      %th Total:
      %td= @user.karma
    
.button_row
  = link_to "Add/Remove Karma", new_user_adjustment_path(@user), :class => "button"