= f.error_messages

%p
  = f.label :hostname
  %br/
  = f.text_field :hostname
  %span.explanation
    The hostname of the machine that will be connecting to the karma server.
  
%p
  = f.label :ip_address, "IP Address"
  %br/
  = f.text_field :ip_address
  %span.explanation
    This must match the machine that's connecting to the karma server.

%p
  = f.label :website_id, "Website"
  %br/
  = f.collection_select :website_id, @websites, :id, :name, {:prompt => "Please select a website."}
  %span.explanation
    This must match the machine that's connecting to the karma server.