= render :partial => "/shared/header", :locals => { :title => "Clients", :subtitle => "", :flash => flash }

#content
  - if ! @clients.empty?
    %table
      - @clients.each do |client| 
        %tr
          %td.name= link_to client
          %td
            = link_to "#{image_tag 'edit.png'} Edit", edit_client_path(client), :class => "button"
            = link_to "#{image_tag 'delete.png'} Destroy", client, :confirm => "Are you sure?", :method => :delete, :title => "Destroy #{client_path(client)} Client", :class => "button"

  - else
    = link_to "There are no clients, click here to create the first one.", new_client_path
  .button_row= link_to "#{image_tag 'add.png'} Create Client", new_client_path, :class => "positive button"