= render :partial => "/shared/header", :locals => { :title => "Clients", :subtitle => "", :flash => flash }

%p Clients are (virtual or physical) machines connect to the karma server API.

#content
  - if @clients.empty?
    = link_to "There are no clients, click here to create the first one.", new_client_path
  - else
    %table
      - @clients.each do |client| 
        %tr
          %td.name= link_to client.hostname, client
          %td
            = link_to "#{image_tag 'edit.png'} Edit", edit_client_path(client), :class => "button"
            = link_to "#{image_tag 'delete.png'} Destroy", client, :confirm => "Are you sure?", :method => :delete, :title => "Destroy #{client.hostname} client", :class => "button"

.button_row= link_to "#{image_tag 'add.png'} Create Client", new_client_path, :class => "positive button"
