= render :partial => "/shared/header", :locals => { :title => "Viewing Client", :subtitle => h(@client.hostname), :flash => flash }
  
%dl
  %dt Website
  %dd
    - if @client.website
      = @client.website.name
    - else
      %span{:style => "color:red;font-weight:600"} No Website Selected
  %dt IP Address
  %dd= @client.ip_address
  %dt API Key
  %dd= @client.api_key
  
.button_row
  = link_to "Edit Client", edit_client_path(@client), :class => "button"