= render :partial => "/shared/header", :locals => { :title => "Viewing Client", :subtitle => h(@client.hostname), :flash => flash }
  
%dl
  %dt Website
  %dd= @client.website.name
  %dt IP Address
  %dd= @client.ip_address
  %dt API Key
  %dd= @client.api_key
  
.button_row
  = link_to "Edit Client", edit_client_path(@client), :class => "button"