%h2 Deleted Buckets

- unless @buckets.empty?
  %h4= link_to "Back to Live Buckets", buckets_path
  %table
    %tr
      %th Bucket
      %th Deleted At
      %th{ :colspan => 2 } Actions
    - @buckets.each do |bucket| 
      %tr
        %td= link_to bucket.name, bucket
        %td= bucket.deleted_at
        %td= link_to "Restore", restore_bucket_path(bucket), :method => :put
- else
  = link_to "There currently are no deleted buckets.  Click here to go back to the live buckets list.", buckets_path