%h2 Buckets

- unless @buckets.empty?
  %h4= link_to "Create New Bucket", new_bucket_path
  %table
    %tr
      %th Bucket
      %th{ :colspan => 2 } Actions
    - @buckets.each do |bucket| 
      %tr
        %td= link_to bucket.name, bucket
        %td= link_to "Edit", edit_bucket_path(bucket)
        %td= link_to "Delete", bucket, :confirm => "Are you sure?", :method => :delete
    - unless Bucket.deleted.empty?
      %tr
        %th{ :colspan => 3 }= link_to "Restore Deleted Buckets", deleted_buckets_path
- else
  = link_to "There are no buckets, click here to create the first one.", new_bucket_path