= render :partial => "/shared/header", :locals => { :title => "Buckets", :subtitle => "", :flash => flash }

%p Buckets collect karma.

#content
  - if ! @buckets.empty?
    %table
      - @buckets.each do |bucket| 
        %tr
          %td.permalink= link_to bucket.permalink, bucket
          %td
            = link_to "#{image_tag 'edit.png'} Edit", edit_bucket_path(bucket), :class => "button"
            = link_to "#{image_tag 'delete.png'} Destroy", bucket, :confirm => "Are you sure?", :method => :delete, :title => "Destroy #{bucket.permalink} Bucket", :class => "button"
  - else
    = link_to "There are no buckets, click here to create the first one.", new_bucket_path
  .button_row= link_to "#{image_tag 'add.png'} Create Bucket", new_bucket_path, :class => "positive button"
    