#home
  #logo= image_tag "karma.png"

  #buttons
    %h4
      = link_to "#{image_tag 'admin-large.png'}Admins", admins_path, :class => "large button", :id => "admins"
      = link_to "#{image_tag 'user-large.png'}Users", users_path, :class => "large button", :id => "users"
      = link_to "#{image_tag 'tag-large.png'}Tags", tags_path, :class => "large button", :id => "tags"
      = link_to "#{image_tag 'website-large.png'}Websites", websites_path, :class => "large button", :id => "websites"
      = link_to "#{image_tag 'client-large.png'}Clients", clients_path, :class => "large button", :id => "clients"