#home
  #logo= image_tag "karma.png"

  #buttons
    = link_to "#{image_tag 'admin-large.png'}<h3>Admins</h3>", admins_path, :class => "button", :id => "admins"
    = link_to "#{image_tag 'user-large.png'}<h3>Users</h3>", users_path, :class => "button", :id => "users"
    = link_to "#{image_tag 'bucket-large.png'}<h3>Buckets</h3>", buckets_path, :class => "button", :id => "buckets"
    = link_to "#{image_tag 'website-large.png'}<h3>Websites</h3>", "#", :class => "button", :id => "websites"
    = link_to "#{image_tag 'client-large.png'}<h3>Clients</h3>", clients_path, :class => "button", :id => "clients"