= render :partial => "/shared/header", :locals => { :title => "Adjust Karma", :subtitle => subtitle, :flash => flash }

- form_for @adjustment, :url => new_adjustment_url do |f|
  = f.error_messages
  %p
    = f.label :value
    %br
    = f.text_field :value
  - unless @tag
    %p
      = f.label :tag_id, "Tag"
      %br
      = f.collection_select :tag_id, Tag.all, :id, :permalink
  %button{:type => "submit", :name => "commit", :value => "Save", :class => 'button positive'} Apply Adjustment
  = link_to "Cancel", :back, :class => "button"

