- form_url = @bucket ? adjustments_path(@user, @bucket) : user_adjustments_path(@user)
%h1 New Adjustment

- form_for @adjustment, :url => form_url do |f|
  = f.error_messages
  = f.label :value
  = f.text_field :value
  - unless @bucket
    = f.label :bucket_id, "Bucket"
    = f.collection_select :bucket_id, Bucket.all, :id, :permalink
  = f.submit 'Save'

