!!!
%html
  %head
    = stylesheet_link_tag "button"
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
  %body
    .flash
      - if flash[:notice]
        .notice= flash[:notice]
      - if flash[:success]
        .success= flash[:success]
      - if flash[:failure]
        .failure= flash[:failure]
    .content
      = yield
      
    #footer
      = link_to "Home", home_path, :class => "button"
      = link_to "Users", users_path, :class => "button"
      = link_to "Buckets", buckets_path, :class => "button"